<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="MohammadCartonAutomation.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    @* <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/persian-datepicker@1.2.0/dist/css/persian-datepicker.min.css" /> *@
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
    @* <script src="https://cdn.jsdelivr.net/npm/persian-date@1.1.0/dist/persian-date.min.js"></script> *@
    @* <script src="https://cdn.jsdelivr.net/npm/persian-datepicker@1.2.0/dist/js/persian-datepicker.min.js"></script> *@
 

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://babakhani.github.io/PersianWebToolkit/css/persianDatepicker-default.css" rel="stylesheet" />
    <script src="https://babakhani.github.io/PersianWebToolkit/js/persianDatepicker.min.js"></script>
    <script src="js/site.js"></script>

    <link href="css/site.css" rel="stylesheet" />

    <script src="js/persian-datepicker.js"></script>
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
